/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('assts/Frame\ 1.png');
  background-size: cover;
  background-position: center center;
}
*
*
*

.border-md {
    border-width: 2px;
}

/* .btn-facebook {
    background: #405D9D;
    border: none;
}

.btn-facebook:hover, .btn-facebook:focus {
    background: #314879;
}

.btn-twitter {
    background: #42AEEC;
    border: none;
}

.btn-twitter:hover, .btn-twitter:focus {
    background: #1799e4;
} */




body {
    min-height: 100vh;
    font-family: 'Inter';
}

.form-control:not(select) {
    padding: 1.5rem 0.5rem;
}

select.form-control {
    height: 52px;
    padding-left: 0.5rem;
}

.form-control::placeholder {
    color: #ccc;
    font-weight: bold;
    font-size: 0.9rem;
}
.form-control:focus {
    box-shadow: none;
}
.td{
    text-align: right;
}
.ts span{
    text-align: right;
    color: #BDBDBD;
    font-family: 'Inter';
    font-size: 14px;
}
.ts P{
    color:8692A6;
    font-family: 'Inter';
    font-size: 16px;
    text-align: right;
}
.tb{
    color:8692A6;
    font-family: 'Inter';
    font-size: 16px;
}
.tp{
    margin-left: 20px;
    margin-right:  20px; 
}
.th1{
    font-family: 'Inter';
    font-style:Bold; 
    font-size: 30px; 
    /* margin-top: 20px; */
}
.tp1{
    /* width: 80%; */
    color: #8692A6;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 700; 
}
.tm1{
    margin-top: 30px;
}
.tb1{
    width: 100%;
    background-color: #1565D8;
    color: #FFFFFF;
   margin-top:  40px; 
   border-radius: 0.9px;
    border: #FFFFFF 1px solid;
    box-shadow: rgba(0, 0, 0, 0.8);
    font-size: 16px;
}
.tv1{
    color: #BABABA;
   
}
.tb2{
    background-color: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 0.9px;
    border: #FFFFFF 1px solid;
    
    
    font-size: 16px;
}

.tb3{
    width: 100%;
    background-color: #FFFFFF;
    color: #000000;
  font-size: 16px;
  background-color: #FFFFFF;
  /* padding-top: 30px;
  padding-bottom: 30px; */
  border-radius: 0.9px;
  border: #FFFFFF 1px solid;
  box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);;
}
.tb3 img{
    position: left;
}
.t label{
    color: #696F79;
    font-weight: 500;
    font: 16px;
}
.tv2 {
    text-align: center;
    margin-top: 20px;
    font:12px ;
    color: #8692A6;
}
.card1{
    /* border: 1px solid #1565D8; */
    
    box-shadow: rgba(0, 0, 0, 0.04);
    padding-top: 25px;
    padding-left: 20px;
    background: rgba(245, 249, 255, 1);
    border-radius: 4px;
   
    border: 1px solid rgba(21, 101, 216, 1);
   padding-bottom: 10px;


}
/* .card1 img{
   margin-right: 20px;
} */
.card1 p{
    font-size: 14px;
    color: #8692A6;
}
/* .card1 p img{
    margin-left: 5px;
} */
.card1 span{
    font-size: 16px;
    color: #000000;
    font-weight: 500;
}
.card2{
      margin-top: 30px;
    /* box-shadow: rgba(0, 0, 0, 0.04); */
    box-shadow:0px 5px 30px rgba( 65, 84, 241, 0.4);
    
    padding-top: 25px;
    padding-left: 20px;
    background: #FFFFFF;
    ;
    border-radius: 4px;
   
    border: 1px solid #FFFFFF;
   padding-bottom: 10px;

}
/* .card2 img{
    margin-right: 20px;
 } */
 .card2 p{
     font-size: 14px;
     color: #8692A6;
 }
 /* .card2 p img{
     margin-left: 20px;
 } */
 .card2 span{
     font-size: 16px;
     color: #000000;
     font-weight: 500;
 }
 .tt{
    color:8692A6;
    font-family: 'Inter';
    font-size: 16px;
}
.tt p span{
color: #1565D8;
}
